*{
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
    color:darkblue;
}

.btn{
font-size: 2.5rem;
height: 3rem;
width: 3rem;
margin: 0.50rem;
background: blue;
color: white;
border: 2.5px solid black;
}
.text{
    font-size: 1rem;
}
#num1,#num2,#num3{
font-size: 1.5rem;
width: 10rem;
color: blue;
border:0.2rem solid blue ;
}
.border{
    border: 0.4rem solid blue;
    margin: 4rem;
    background-color: #f1cbff;
}
hr{
    height: 0.3rem;
    background-color: blue;
}
#result{
    font-size: 1.5rem;
    border: 2px solid black;
    background: blue;
    color: white;

}

a{
    float: right;
    background-color: blue;
    border: 2px solid black;
    color: white;
    text-decoration: none;
}
.cse{
    text-align: center;
    margin-top: 4px;
}

