body{
    background: #f9f9f9;
    color:blue;
margin: 2rem;
padding: 0;
}
.head1{
    letter-spacing:0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: orangered;
    color: #ffffff;
}
.ques{
    font-size: 1.5rem;
    letter-spacing:0.2rem;
    color:maroon; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.option{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
}
hr{
    width:20rem;
    background: #428bca;
    height: 0.2rem;
}

input{
    border: 0.2rem solid blue;
    font-size: 1.7rem;
    color: blue;
    text-align: center;
    width: 12rem;
    border-radius:10px;
}
h3{
    font-family: cursive;
    letter-spacing: 0.2rem;
}
a{
    background: #7289da;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
letter-spacing: 0.1rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 3px solid black;
}

@media(max-width:998px){
    html{
        font-size: 60%;
    }
    input{
        width: 40%;
    }
    h3{
        color:red;
        background-color: #d896ff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        border: 3px solid maroon;
        border-radius: 4px;
    }
}

@media(max-width:768px){
    html{
        font-size: 50%;
    }
    input{
        width: 40%;
    }
    h3{
        color: red;
        background-color: #d896ff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        border: 3px solid maroon;
        border-radius:4px;
    }
}
