body{
    background: #f9f9f9;
    color:blue;
margin: 2rem;
padding: 0;
}
.head1{
    letter-spacing:0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: orangered;
    color: #ffffff;
}
.ques{
    font-size: 1.5rem;
    letter-spacing:0.2rem;
    color:maroon; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.option{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
}
hr{
    width:20rem;
    background: #428bca;
    height: 0.2rem;
}

input{
    border: 0.2rem solid blue;
    font-size: 1.7rem;
    color: blue;
    text-align: center;
    width: 12rem;
    border-radius:10px;
}
h3{
    font-family: cursive;
    letter-spacing: 0.2rem;
}


.hint1{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
border: 3px solid maroon;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint2{

    font-size: 1.5rem;
    border: 3px solid goldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint3{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
border: 3px solid maroon;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint4{
    
    font-size: 1.5rem;
border: 3px solid goldenrod;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint5{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint6{

    font-size: 1.5rem;
    border: 3px solid goldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint7{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint8{
    font-size: 1.5rem;
    border: 3px solid goldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.hint9{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint10{
    font-size: 1.5rem;
    border: 3px solid goldenrod; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.hint11{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint12{
    
    font-size: 1.5rem;
    border: 3px solid goldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint13{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint14{
    font-size: 1.5rem;
    border: 3px solid goldenrod; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint15{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    border: 3px solid maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hint16{
    font-size: 1.5rem;
    border: 3px solid goldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.greet{
    color:maroon;
    font-family: sans-serif;
    font-size: 2.5rem;
    border: 3.5px dashed blue;
    background-color:goldenrod;
    text-align:justify;
    padding: 5px;

}
h1{
    text-align: center;
    font-size: 2.5rem;

    letter-spacing: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media(max-width:998px){
    html{
        font-size: 60%;
    }
    input{
        width: 40%;
    }
    h3{
        color: #f9f9f9;
        background-color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
}

@media(max-width:768px){
    html{
        font-size: 50%;
    }
    input{
        width: 40%;
    }
    h3{
        color: #f9f9f9;
        background-color: darkblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
}
